.App {
  text-align: center;
}

.App-header {
  background-color: transparent !important; /* Adjust the alpha value (0 to 1) to control transparency */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.NavbarBrand {
  margin-left: 20px;
}


.link-button {
  display: block;
  width: 200px; /* Ancho deseado */
  margin: 5px;
  padding: 10px;
  border: none;
  border-radius: 6px;
  text-decoration: none;
  color: #fff;
  background-color: #25313d; 
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.link-button:hover {
  background-color: #5fb300; 
}

.button:hover {
  background-color: #f0f0f0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.button-row {
  display: flex;
  justify-content: center;
  margin: 10px 0;
  flex-wrap: wrap;
}


